<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 ~
 ~ @author Lijinchun
 ~ @date 2019-07-30 22:22:49
 ~ Created by CodeGen .
-->

<mapper namespace="com.bluesky.admin.api.modules.sys.service.model.AdminRole">
</mapper>
